@mixin bs-custom-navbar($height, $bg, $fg, $hl) {
  height: $height;
  padding-left: $bodyPadding;
  background: $bg;
  border-bottom: 1px solid #333;

  .navbar-brand {
    padding: 0;
    margin-right: 30px;
    height: $height;
    line-height: $height - 4px;
    color: $hl;
    font-size: 2em;
  	letter-spacing: 2px;
  	font-variant: small-caps;

    &:hover {
      color: $hl;
    }
  }

  .navbar-nav > li > a {
    padding: 0 15px;
    height: $height;
    line-height: $height;
    color: $fg;
    font-weight: 200;
    letter-spacing: 1px;

    &:hover, &:focus {
      color: $hl;
    }
  }

  .navbar-nav > .active > a {
    height: $height - 1px;
  	background-color: adjust_lightness($bg, 50);
  	color: $hl;
  	&:hover, &:focus {
  		background-color: adjust_lightness($bg, 50);
  		color: $hl;
  	}
  }
}

.panel-collapse .panel-body {
  padding-top: 0;
}
