@import "variables";
@import "bootstrap";

@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/layout";
@import "compass/layout/grid-background";

@import "partials/base";

.navbar-default {
  @include bs-custom-navbar($navbarHeight, $navbarBackground, $navbarForeground, 
    $navbarHighlight);
}

#map {
  height: 600px;
}

#swipe {
  border-right: 3px solid rgba(#333, 0.8);
  position:absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 600px;
  z-index:1000;

  @include box-shadow(rgba(black, 0.4) 7px 0 10px -6px, rgba(black, 0.4) -7px 0 10px -6px inset);
}

#swipe div {
  position:absolute;
  top: 300px;
  left: 178px;
  height:30px;
  padding:5px;
  background:#aaa;
  font-weight:bold;
  border:1px solid #333;
  cursor:pointer;
  -webkit-user-select: none;
}

