/bin
/target
/lib
/classes
/checkouts
/data/*.yaml
/data/*.xls
/data/*.xlsx
.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.classpath
.project
.settings
.DS_Store
.sass-cache
.nrepl-port
.~lock*
