@import "compass/css3/box-sizing";

@import "modules/all";

// palette: http://www.colourlovers.com/palette/1205578/Winterheart

$bodyPadding: 20px;
$navbarHeight: 60px;
$navbarBackground: #07182A;
$navbarForeground: #E6E6E8;
$navbarHighlight: #EEF0EF;

*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  // @include baseline-grid-background();
  padding: ($navbarHeight + 25px) $bodyPadding $bodyPadding $bodyPadding; 
}

